body{
    background-color: lightgray;
}
.person{
    background-color: #fff;
    padding: 1rem;
    text-align: center;
    border: 2px solid #33b5e5;
}
.opis{
    width: 100%;
    
}
#tabelka{
    
    width: 100%;
}
td{border: 1px solid black;height: auto;width: auto;}
th{border: 1px solid black;height: auto;width: auto;}